* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

.ojuju {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

#icon{
width: 30px;
height: 30px;
}

#navbar {
    grid-auto-flow: column;
    display: grid;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(0, 0, 119);
    inline-size: 100%;
}

input {
    inline-size: 300px;
    block-size: 25px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    block-size: 25px;
    inline-size: 80px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    text-align: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}

li {
    block-size: 250px;
    margin: 20px;
}

img {
    position: relative;
    block-size: 380px;
}
#mova:hover{
margin:-10px;
transition: margin 0.3s;
opacity: 0.7;
}

#title {
position: relative;
inset-block-end: 70px;
color: rgb(204, 168, 5);
background-color:  rgb(0, 13, 126);

}

#movie-card {
    margin-block-start: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    block-size: 520px;
    border: 1px solid;
    
}

#detalhes {
    position: relative;
    inset-block-end: 15px;
    padding: 13px;
    background-color: orange;
    color: black;
}

#androidtittle {
    display: none;
}

#movie {
    inset-block-start: 100px;
    position: relative;
    margin: auto;
    block-size: 497px;
    inline-size: 1100px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 50% 50%;
  

}

#poster {
    inline-size: 550px;
    block-size: 497px;
    background-color: bisque;
}

#posterRight {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    block-size: 497px;
    justify-content: center;
   background-color: rgb(0, 13, 126);
   color: rgb(165, 152, 31);
}

#voto {
    block-size: 00px;
    background-color: aliceblue;
}

@media only screen and (min-width: 850px) and (max-width: 1240px) {
    #movie {

        block-size: 500px;
        inline-size: 800px;
    }

    #poster {
        inline-size: 400px;
        block-size: 497px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
    #movie {
        inset-block-start: 100px;
        position: relative;
        margin: auto;
        block-size: 700px;
        inline-size: 500px;
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        background-color:  rgb(0, 13, 126);
    }
        

    #androidtittle {
        display: block;
        text-align: center;
        color: rgb(243, 219, 3);
    }

    #pctitle {
        display: none;
    }

    #poster {
        inline-size: 500px;
        block-size: 350px;
        

    }

    #posterRight {
        position: relative;
        inset-block-start: 00px;
         
        background-color:  rgb(0, 13, 126);

       
    }

}

@media only screen and (min-width: 280px) and (max-width: 515px) {
  
    #movie {
        inset-block-start: 20px;
        position: relative;
        margin: auto;
        block-size: 900px;
        inline-size: 280px;
        display: flex;
        flex-direction: column;
        background-color:  rgb(0, 13, 126);
        color: rgb(243, 219, 3);
    }

    #poster {
        inline-size: 280px;
       height: auto;
    }

 #posterRight {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    }

    #androidtittle {
        display: block;
        text-align: center;
        font-size: 20px;
        padding-bottom: 0px;
    }

    #pctitle {
        display: none;
    }

    input {
        inline-size: 160px;
    }

    #blockdroid{
    display: none;
    }
  
}
